<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Annuaire</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='annuaire.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/">Annuaire</a></li>
        <li><a href="{{ url_for('ajouter_contact') }}">Ajouter</a></li>
        <li>
          <form action="{{ url_for('rechercher_contact') }}" method="GET">
            <input type="text" name="search" placeholder="Rechercher..." />
            <input type="submit" value="Rechercher" />
          </form>
        </li>
      </ul>
    </nav>

    <h1>Liste des contacts</h1>
    <table border="1">
      <thead>
        <tr>
          <th>
            <div class="trie-contact">
              <p>ID</p>
              <div class="trie">
                <a href="{{ url_for('tri_contacts', champ='id',sens='asc') }}"
                  >↑</a
                >
                <a href="{{ url_for('tri_contacts', champ='id',sens='desc') }}"
                  >↓</a
                >
              </div>
            </div>
          </th>
          <th>
            <div class="trie-contact">
              <p>Nom</p>
              <div class="trie">
                <a href="{{ url_for('tri_contacts', champ='nom',sens='asc') }}"
                  >↑</a
                >
                <a href="{{ url_for('tri_contacts', champ='nom',sens='desc') }}"
                  >↓</a
                >
              </div>
            </div>
          </th>
          <th>
            <div class="trie-contact">
              <p>Prenom</p>
              <div class="trie">
                <a
                  href="{{ url_for('tri_contacts', champ='prenom',sens='asc') }}"
                  >↑</a
                >
                <a
                  href="{{ url_for('tri_contacts', champ='prenom',sens='desc') }}"
                  >↓</a
                >
              </div>
            </div>
          </th>
          <th>
            <div class="trie-contact">
              <p>Email</p>
              <div class="trie">
                <a
                  href="{{ url_for('tri_contacts', champ='email',sens='asc') }}"
                  >↑</a
                >
                <a
                  href="{{ url_for('tri_contacts', champ='email',sens='desc') }}"
                  >↓</a
                >
              </div>
            </div>
          </th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in entries %}
        <tr
          onclick="window.location.href='{{ url_for('contact_details', contact_id=contact[0]) }}';"
          class="invisible-link"
        >
          <td>{{ contact[0] }}</td>
          <td>{{ contact[1] }}</td>
          <td>{{ contact[2] }}</td>
          <td>{{ contact[3] }}</td>
          <td>{{ contact[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
