<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Annuaire</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/">Annuaire</a></li>
        <li><a href="{{ url_for('ajouter_contact') }}">Ajouter</a></li>
        <li>
          <form action="{{ url_for('rechercher_contact') }}" method="GET">
            <input type="text" name="search" placeholder="Rechercher..." />
            <input type="submit" value="Rechercher" />
          </form>
        </li>
      </ul>
    </nav>

    <h1>Liste des contacts</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in entries %}
        <tr
          onclick="window.location.href='{{ url_for('contact_details', contact_id=contact[0]) }}';"
          class="invisible-link"
        >
          <td>{{ contact[0] }}</td>
          <td>{{ contact[1] }}</td>
          <td>{{ contact[2] }}</td>
          <td>{{ contact[3] }}</td>
          <td>{{ contact[4] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
