<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='detail.css') }}"
    />
  </head>
  {% for detail in detail %}
  <script>
    function confirmerSuppression() {
      var confirmation = confirm("Voulez-vous vraiment supprimer le compte ?");

      if (confirmation) {
        window.location.href = '{{ url_for('supprimer', contact_id=detail[0]) }}';
      } else {
      }
    }
  </script>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/">Annuaire</a></li>
        <li>
          <a href="{{ url_for('modifier_contact', contact_id=detail[0]) }}"
            >Modifier</a
          >
        </li>
        <li><button onclick="confirmerSuppression()">Supprimer</button></li>
      </ul>
    </nav>
    <h1>Détail</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ detail[0] }}</td>
          <td>{{ detail[1] }}</td>
          <td>{{ detail[2] }}</td>
          <td>{{ detail[3] }}</td>
          <td>{{ detail[4] }}</td>
        </tr>
      </tbody>
    </table>
  </body>
  {% endfor %}
</html>
