<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Modifier un contact</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='ajout.css') }}"
    />
  </head>
  <script>
    function validateForm() {
      var email = document.getElementById('email').value;
      var telephone = document.getElementById('telephone').value;
  
      if (telephone.length !== 10) {
        alert("Le numéro de téléphone doit comporter 10 chiffres. Veuillez réessayer.");
        return false;
      }
  
      if (!email.endsWith('@gmail.com')) {
        alert("L'adresse e-mail doit se terminer par '@gmail.com'. Veuillez réessayer.");
        return false;
      }
    }
  </script>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/">Annuaire</a></li>
      </ul>
    </nav>
    <h1>Modifier un contact</h1>
    {% for modifie in modifie %}
    <form
      action="{{ url_for('modifier_contact', contact_id=modifie[0]) }}"
      method="post"
      onsubmit="return validateForm()"
    >
      <div class="nom">
        <label for="nom">Nom :</label><br /><br />
        <input
          type="text"
          id="nom"
          name="nom"
          required
          value="{{ modifie[1] }}"
        />
      </div>
      <div class="prenom">
        <label for="prenom">Prénom :</label><br /><br />
        <input
          type="text"
          id="prenom"
          name="prenom"
          required
          value="{{ modifie[2] }}"
        />
      </div>
      <div class="email">
        <label for="email">Email :</label><br /><br />
        <input
          type="email"
          id="email"
          name="email"
          required
          value="{{ modifie[3] }}"
        />
      </div>
      <div class="telephone">
        <label for="telephone">Téléphone :</label><br /><br />
        <input
          type="text"
          id="telephone"
          name="telephone"
          required
          value="{{ modifie[4] }}"
        />
      </div>
      <input type="submit" value="Modifier" />
    </form>
    {% endfor %}
  </body>
</html>
